.main-content{
    /* border: 1px black solid; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.infos{
    display: flex;
    justify-content: center; 
}
.info{
    /* border: 1px black solid; */
    display: flex;
    padding: 20px 100px 0px 100px;
}
.resItem{
    /* border: 1px black solid; */
    padding: 3px 0px 3px 0px;
}
.resInput{
    height: 25px;
    width: 330px;
    margin-left: 10px;
    border: 1px solid rgb(161, 159, 159);
    border-radius: 5px;
}
.resHours{
    height: 25px;
    width: 150px;
    margin-left: 10px;
    border: 1px solid rgb(196, 194, 194);
    border-radius: 5px;
}
.separator{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}
.amenities-input{
    margin-top: 10px;
}
.resCheck{
    height: 15px;
    width: 15px;
    margin-right: 3px;
}
.resCheckElement{
    margin-right: 10px;
}
.resFile{
    margin-left: 10px;
    margin-top: 10px;
    width: 90px;
}
::-webkit-file-upload-button {
    cursor:pointer;
}
.resImages{
    margin-top: 10px;
    display: flex;
    width: 540px;
    flex-wrap: wrap;
}
.resImage{
    margin: 0px 10px 5px 0px;
    padding: 5px;
    display: flex;
    /* border-radius: 30px; */
    background-color: rgb(216, 211, 211);
}
.resImageRemove{
    font-size: 16px;
    cursor: pointer;
}
.resImageRemoveRen{
    font-size: 20px;
    cursor: pointer;
    padding: 14px 0px 0px 3px;
}
.resButton{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.editIconArrow{
    font-size: 40px;
    cursor: pointer;
    color: black;
    height: max-content;
}
.editIconArrow :hover {
    color: red;
}

.resInputSpan{
    background-color: rgb(172, 167, 167);
    height: 17px;
    width: 11px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
    display: inline-grid;
    font-size: 15px;
}

.resInputExample{
    position: absolute;
    background-color: rgb(204, 202, 202);
    height: max-content;
    width: 200px;
    padding: 12px;
    line-height: 16px;
    font-size: 12px;
    color: #504c4c;
    margin-top: 15px;
    z-index: 999;
}