.restaurantSearch {
    flex: 1;
    margin: 0 10px;
    padding: 5px;
}

.restaurantSubmit {
    cursor: pointer;
}

.suggestions {
    position: absolute;
    top: 265px;
    left: 457px;
    width: 30%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    max-height: 250px;
    overflow-y: auto;
}

.suggestions {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.suggestions::-webkit-scrollbar {
    display: none;
}

.banner-suggestion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.banner-suggestion:hover {
    background-color: #f0f0f0;
}

.suggestion-content {
    display: flex;
    gap: 7px;
}

.suggestion-icon {
    font-size: 26px;
    border: 1px solid;
    border-radius: 50%;
    padding: 3px 0 0 0;
    height: 28px;
    width: 28px;
    color: white;
    background: #FF5757
}

.suggestion-tag {
    font-size: 11px;
    color: #999;
}

.suggestion-content-header {
    font-weight: bolder;
    font-size: 15px;
}

.suggestion-content-footer {
    padding-top: 3px;
    font-size: 12px;
    color: #999;
}

/* Mobile Responsiveness */

@media screen and (min-width: 320px) and (max-width: 425px) {
    .suggestions {
        top: 265px;
        left: 75px;
        width: 630px;
    }
}

/* Tablet Responsiveness */

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .suggestions {
        left: 171px;
        width: 630px;
    }
}

/* Laptop Responsiveness */

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .suggestions {
        top: 265px;
        left: 170px;
        width: 630px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .suggestions {
        left: 220px;
        width: 630px;
    }
}