.blog-card-form {
    display: flex;
    flex-flow: column;
}

.blog-featured-no-similar-posts {
    font-size: 13px;
    font-style: italic;
    font-family: auto;
    margin-top: 10px;
}

.blog-featured-posts-heading {
    margin-bottom: 15px;
}

.blog-featured-non-sugg-posts{
    height: 10px;
    padding: 8px 0 8px 0;
    width: 300px;
    background-color: #d9d7d7;
    cursor: not-allowed;
    margin-top: 20px;
}

.blog-details-container {
    min-width: 980px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
}

.blog-details-post {
    height: max-content;
    width: 900px;
    margin-bottom: 20px;
}

.blog-non-details-post{
    background-color: #d9d7d7;
    cursor: not-allowed;
    height: 500px;
    width: 900px;
    margin-bottom: 20px;
}

.blog-details-post-image {
    width: 900px;
    object-fit: cover;
}

.blog-details-post-info {
    padding: 10px 20px 0 2px;
}

.blog-details-post-title {
    color: #222222;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
}

.blog-details-user-details {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.blog-details-user-image, .blog-details-non-user-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f3f3f3;
}

.blog-details-non-user-image, .blog-details-commented-by-non-user-image {
    opacity: 0.3;
}

.blog-details-post-date {
    margin-left: 5px;
    color: #222222;
    font-size: 14px;
    font-weight: 100;
}

.blog-details-post-content {
    color: #333333;
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: 0.3px;
}

.blog-details-category-like-comment {
    position: absolute;
    display: flex;
    flex-flow: column;
    padding: 20px 20px 28px 20px;
    background-color: #e7e5e5;
    margin-left: 750px;
    border-radius: 0 0 43% 43%;
}

.blog-details-like, .blog-details-comment, .blog-details-liked {
    font-size: 30px;
    cursor: pointer;
}

.blog-details-liked {
    color: #FF5757;
}

.blog-details-like-div, .blog-details-comment-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5757;
}

.blog-details-like-count, .blog-details-comment-count {
    margin-left: 5px;
    font-size: 15px;
}

.blog-details-like-div {
    margin-bottom: 10px;
}

.blog-navbar-non-category{
    background-color: #d9d7d7;
    cursor: not-allowed;
    width: 100px;
    height: 15px;
    margin: 0 10px 0 10px;
}

.blog-details-comments {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.blog-details-comments-counts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 1px solid #111111;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #333333;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
}

.blog-details-comments-replies {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.blog-details-comments-border {
    border: 1px solid #e7e5e5;
    border-top-width: 0px;
    position: absolute;
    width: 950px;
    margin: 0 0 21px 47px;
    z-index: -1;
}

.blog-details-count-container {
    padding: 0px 25px 0 25px;
    background: white;
}

.blog-details-comments-input-container {
    margin: 15px 0 0 0;
}

.blog-details-comment-heading {
    color: #222222;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.1em;
    margin-bottom: 15px;
}

.blog-details-comment-sub-heading {
    color: #222222;
    font-weight: 400;
    font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 10px 0 15px 0;
}

.blog-details-comment-input {
    background: #f7f6f6;
    border: 1px solid #e7e5e5;
    padding: 10px;
    outline: none;
    width: 865px;
    font-size: 16px;
    color: #222222;
}

.blog-details-comment-button {
    border: none;
    color: white;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    margin: 15px 0 20px 0;
}

.category-details-card {
    display: flex;
    align-items: center;
    max-width: 700px;
    gap: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e5e5;
    padding: 10px 0 25px 0;
}

.category-non-details-card{
    background-color: #d9d7d7;
    cursor: not-allowed;
    width: 700px;
    height: 180px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e5e5;
    padding: 10px 0 25px 0;
}

.category-details-card:last-child {
    border-bottom: none;
}

.category-details-card-info {
    max-width: 500px;
}

.category-details-card-user-date {
    display: flex;
    align-items: center;
    font-family: "Metropolis", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.category-details-card-user-image {
    color: #8d8c8c;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.category-details-card-user-name {
    margin-left: 10px;
    letter-spacing: 0px;
}

.category-details-card-blog-date {
    color: #5c5757;
    margin-left: 6px;
}

.category-details-card-title-content {
    margin-top: 10px;
    cursor: pointer;
}

.category-details-card-blog-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

.category-details-card-blog-content {
    margin-top: 7px;
    font-size: 16px;
    color: #5c5757;
    line-height: 22px;
}

.category-details-card-like-comments {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #848181;
}

.category-details-card-like-comment-count {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 15px;
}

.category-details-card-image {
    cursor: pointer;
    height: 110px;
    width: 110px;
}

.category-details-read, .category-details-read span {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 40px;
}

.category-details-read span {
    margin: 0 5px 0 0;
}

.blog-details-comment-model {
    padding: 20px;
    background-color: white;
    border-radius: 0px !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    width: 350px;
    max-height: 550px;
    overflow-y: auto;
}

.blog-comments-all-count {
    font-size: 18px;
    font-weight: bold;
}

.blog-comment-model-input {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
    padding: 10px;
    margin: 15px 0 20px 0;
}

.blog-comment-model-input-area {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
}

.blog-comment-model-input-button {
    background-color: #006edc;
    color: white;
    border: 1px solid #006edc !important;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

/* .blog-details-all-user-comments {
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #e7e5e5;
}

.blog-details-all-user-comments:last-child {
    border: none;
} */

.blog-details-commented-by-user {
    display: flex;
    align-items: center;
}

.blog-comments-author {
    margin-left: 5px;
    background-color: #006edc;
    color: white;
    font-size: 12px;
    padding: 0 5px 0 5px;
    border-radius: 2px;
}

.blog-details-commented-by-user-image, .blog-details-commented-by-non-user-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.blog-details-commented-by-user-name-date {
    font-size: 14px;
    margin-left: 10px;
}

.blog-details-commented-by-user-date {
    color: #6B6B6B;
}

.blog-details-comment-by-user {
    margin-top: 10px;
}

/* Mobile Responsiveness */

@media screen and (min-width: 320px) and (max-width: 425px) {
    .blog-featured-posts {
        padding: 25px 20px 25px 0;
    }

    .blog-featured-suggestions {
        padding: 25px 0 0 20px;
    }

    .blog-featured-post-image, .blog-featured-post {
        width: 650px;
    }

    .blog-details-post, .blog-details-post-image, .blog-non-details-post {
        width: 750px;
    }

    .blog-featured-sugg-heading {
        max-width: 150px;
    }

    .blog-featured-sugg-posts, .blog-featured-non-sugg-posts {
        max-width: 120px;
    }

    .blog-details-category-like-comment {
        margin-left: 647px;
    }

    .blog-show-user-details {
        left: 790px;
    }

    .blog-details-comment-input {
        width: 700px;
    }

    .blog-details-comments-border {
        width: 740px;
    }
}

/* Tablet Responsiveness */

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .blog-navbar {
        min-width: 1300px;
    }

    .blog-navbar-categories {
        min-width: 1310px;
    }

    .blog-container {
        min-width: 1340px;
        padding: 0;
        justify-content: start;
    }

    .blog-card-container, .blog-non-card-container{
        min-height: 316px;
        width: 416px;
        margin: 23px 0 0 23px;
    }

    .blog-pagination-container {
        min-width: 1322px;
    }

    .blog-featured-container {
        min-width: 1340px;
    }

    .blog-details-post, .blog-details-post-image, .blog-non-details-post {
        width: 800px;
    }

    .blog-details-container {
        min-width: 1340px;
    }

    .blog-details-category-like-comment {
        margin-left: 680px;
    }

    .blog-show-user-details {
        left: 1060px;
    }

    .blog-details-comment-input {
        width: 760px;
    }

    .blog-details-comments-border {
        width: 850px;
    }
}

/* Laptop Responsiveness */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .blog-navbar {
        min-width: 1300px;
    }

    .blog-navbar-categories {
        min-width: 1310px;
    }

    .blog-container {
        min-width: 1340px;
        padding: 0;
        justify-content: start;
    }

    .blog-card-container, .blog-non-card-container {
        min-height: 330px;
        width: 323px;
        margin: 10px 0 0 10px;
    }

    .blog-pagination-container {
        min-width: 1322px;
    }

    .blog-details-post, .blog-details-post-image, .blog-non-details-post {
        width: 800px;
    }

    .blog-details-container {
        min-width: 1340px;
    }

    .blog-details-category-like-comment {
        margin-left: 680px;
    }

    .blog-show-user-details {
        left: 1060px;
    }

    .blog-details-comment-input {
        width: 760px;
    }

    .blog-details-comments-border {
        width: 850px;
    }
}

@media screen and (min-width: 1341px) and (max-width: 1440px) {
    .blog-card-container {
        width: 348px;
    }

    .blog-show-user-details {
        left: 1135px;
    }
}

@media screen and (min-width: 1441px) {
    .blog-show-user-details {
        right: 245px;
    }
}