.blog-container {
    padding: 0 25px 25px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f3f3f3;
}

.blog-card-container {
    height: 300px;
    width: 450px;
    margin: 25px 0 0 0;
    background-color: white;
}

.blog-card-image {
    height: 165px;
    object-fit: cover;
    width: inherit;
    cursor: pointer;
}

.blog-card-info {
    padding: 0 10px 10px 10px;
}

.blog-card-date {
    margin-top: 10px;
    font-size: small;
    color: #333333;
}

.blog-card-title {
    margin-top: 5px;
    color: #222222;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.blog-card-content {
    margin-top: 5px;
    font-size: 13px;
    letter-spacing: 0.3px;
}

.blog-card-user {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.blog-card-user-image, .blog-card-non-user-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #f3f3f3;
}

.blog-card-non-user-image {
    opacity: 0.3;
}

.blog-card-user-info {
    display: flex;
    align-items: center;
}

.blog-card-user-name {
    margin-right: 5px;
    font-size: small;
}

.blog-card-like-comment {
    display: flex;
    align-items: center;
}

.blog-card-like {
    display: flex;
}

.blog-card-comment {
    margin-left: 10px;
    display: flex;
}

.blog-card-like-comment-count {
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: small;
}

.blog-card-form {
    display: flex;
    flex-flow: column;
}

.blog-card-model {
    padding: 60px;
    background-color: white;
    border-radius: 0px !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

#title, #content, #category {
    margin-bottom: 15px;
    width: 320px !important;
    padding: 15px !important;
    font-size: 16px;
    border: none !important;
    border-radius: 0px !important;
    box-sizing: border-box;
    outline: none;
    background-color: #f3f3f3;
}

#category {
    padding: 10px !important;
}

.blog-form-button {
    width: 320px;
    padding: 10px !important;
    font-size: 20px;
    font-weight: bolder;
    border: none !important;
    border-radius: 0px !important;
}

#image {
    margin: 20px 0 15px 0;
    width: 320px;
}

.subBlog {
    color: white;
    cursor: pointer;
}

.blog-card-category {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #006edc;
    padding: 1px 12px 1px 12px;
    color: #fbfafa;
    height: 13px;
    width: max-content;
    z-index: 10;
    position: absolute;
    margin: 10px 0 0 10px;
    font-size: 11px;
    border-radius: 8px;
    font-weight: bold;
}

.blog-pagination-container {
    display: flex;
    padding: 10px 0 25px 18px;
    background-color: #f3f3f3;
}

.blog-pagination-container li {
    list-style: none;
    margin-right: 1px;
}

.blog-pagination-item a, .blog-pagination-item-pn a {
    color: black;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.blog-active {
    background-color: #ddd;
    color: white;
    border-radius: 50%;
}

.blog-pagination-item:not(.blog-active) a:hover {
    background-color: #ddd;
    border-radius: 50%;
}

.blog-pagination-item-pn:not(.blog-active) a:hover {
    color: #FF5757;
}

.blog-featured-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e7e5e5;
}

.blog-featured-posts {
    display: flex;
    flex-flow: column;
    border-right: 1px solid #e7e5e5;
    padding: 50px 50px 50px 0;
}

.blog-featured-post {
    height: max-content;
    width: 700px;
    margin-bottom: 20px;
}

.blog-featured-post-image {
    height: 220px;
    width: 700px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.blog-featured-post-info {
    border: 1px solid #e7e5e5;
    border-top: none;
    padding: 20px;
}

.blog-featured-post-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e5e5;
    padding: 10px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    font-size: 14px;
}

.blog-featured-post-read-more:hover {
    color: #FF5757;
}

.blog-featured-post-title {
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
}

.blog-featured-post-date {
    margin-bottom: 20px;
    color: #222222;
    font-size: 13px;
    font-weight: 100;
}

.blog-featured-post-content {
    color: #333333;
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
}

.blog-featured-suggestions {
    padding: 50px 0 0 50px;
}

.blog-featured-sugg-heading, .blog-featured-posts-heading {
    color: #222222;
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.blog-featured-posts-heading {
    margin-bottom: 15px;
}

.blog-featured-sugg-posts {
    padding: 8px 0 8px 0;
    max-width: 300px;
    color: #333333;
    border-bottom: 3px solid #e7e5e5;
}

.blog-featured-sugg-posts:last-child {
    border: none;
}

.blog-featured-sugg-posts-title {
    font-size: 13px;
    font-style: italic;
    font-family: auto;
    cursor: pointer;
}

.blog-featured-sugg-posts-title:hover {
    color: #FF5757;
    border-bottom: 1px solid #FF5757;
}

.blog-featured-sugg-posts-date {
    font-size: 12px;
    font-weight: 100;
    margin-left: 5px;
}

.blog-details-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #e7e5e5;
    border-top: 1px solid #e7e5e5;
}

.blog-details-post {
    height: max-content;
    width: 900px;
    margin-bottom: 20px;
}

.blog-details-post-image {
    width: 900px;
    object-fit: cover;
}

.blog-details-post-info {
    padding: 10px 20px 0 2px;
}

.blog-details-post-title {
    color: #222222;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
}

.blog-details-user-details {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.blog-details-user-image, .blog-details-non-user-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f3f3f3;
}

.blog-details-non-user-image {
    opacity: 0.3;
}

.blog-details-post-date {
    margin-left: 5px;
    color: #222222;
    font-size: 14px;
    font-weight: 100;
}

.blog-details-post-content {
    color: #333333;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.blog-details-category-like-comment {
    position: absolute;
    display: flex;
    flex-flow: column;
    padding: 20px 20px 30px 20px;
    background-color: #e7e5e5;
    margin-left: 750px;
    border-radius: 0 0 45% 45%;
}

.blog-details-like, .blog-details-comment {
    font-size: 30px;
    cursor: pointer;
}

.blog-details-like-div, .blog-details-comment-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-details-like-count, .blog-details-comment-count {
    margin-left: 5px;
    font-size: 15px;
}

.blog-details-like-div{
    margin-bottom: 10px;
}