.city-restaurant {
    padding: 10px 370px 50px 370px;
    height: max-content;
    background-color: #f3f3f3;
    display: flex;
}

.city-filters {
    margin-top: 10px;
}

.city-cuisine-filters, .city-type-filters, .city-feature-filters {
    width: 200px;
    background-color: #fff;
    padding: 13px 18px 13px 12px;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 2px solid #f3f3f3;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: bolder;
}

.city-cuisine-filters-span, .city-type-filters-span, .city-feature-filters-span {
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    float: right;
}

.city-type-filters {
    border-radius: 0px 0px 0px 0px;
}

.city-feature-filters {
    border-radius: 0px 0px 7px 7px;
}

.city-checkboxes {
    margin-top: 15px;
}

.city-checkboxes>input {
    margin: 0px 10px 12px 12px;
    cursor: pointer;
}

.city-checkboxes>label {
    font-weight: lighter;
    font-size: 12px;
}

.city-restaurants-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 590px;
}

.city-restaurants-heading-sort {
    display: flex;
}

.city-restaurants-length {
    margin-left: 5px;
    vertical-align: text-bottom;
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 100;
    vertical-align: middle;
}

.city-sort-by {
    margin: 8px 0px 0px 20px;
    font-size: 16px;
    color: #484848;
    font-weight: 200;
}

.city-restaurants-sort-element {
    width: 150px;
    background-color: #fff;
    margin-left: 10px;
    padding: 10px 11px 10px 16px;
    font-size: 14px;
    font-weight: 100;
    border-radius: 5px;
    color: #4d4d4d;
    cursor: pointer;
}

.city-restaurants-sort-elements {
    width: 175px;
    position: absolute;
    background-color: #fff;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 100;
    color: #4d4d4d;
    z-index: 999;
    border: #dcdcdc 1px solid;
}

.city-sort-elements {
    padding: 10px 0px 10px 14px;
    border-bottom: 1px solid #dcdcdc;
    cursor: pointer;
}

.city-restaurants-updown {
    font-size: 20px;
    float: right;
}

.city-restaurant-content {
    margin: 15px 0px 0px 30px;
}

.city-restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 870px;
}

.city-card-restaurant {
    border-radius: 5px !important;
    cursor: pointer;
    background-color: #fff;
    margin: 0px 18px 18px 0px;
}

.city-card-image img {
    border-radius: 5px 5px 0px 0px !important;
    height: 170px;
    width: 270px !important;
}

.city-card-extras {
    display: flex;
}

.city-card-description {
    max-width: 250px;
    padding: 10px;
}

.city-card-name {
    padding-bottom: 7px;
    font-size: 16px;
    font-weight: bold;
}

.city-card-address, .city-card-extras {
    font-size: 12px;
    padding-bottom: 7px;
    color: #8f8f8f;
}

.city-card-rating {
    position: absolute;
    margin: 15px 0px 0px 215px;
    height: 25px;
    width: 40px;
    text-align: center;
    border-radius: 2px;
}

.city-rating {
    margin: 3px 5px 3px 5px;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

.city-show-more {
    cursor: pointer;
    color: #b8b3b3;
    font-weight: 100;
    font-size: 13px;
}

.city-show-more:hover {
    color: rgb(89, 89, 165);
}

.pagination-container {
    display: flex;
    width: max-content;
    margin-top: 30px;
}

.pagination-container li {
    list-style: none;
}

.pagination-item a {
    color: black;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.pagination-item:not(.active) a:hover {
    background-color: #ddd;
}

.city-no-restaurant {
    font-size: 50px;
    color: #ff5757;
    margin: 140px 0px 0px 240px;
}

.book-table-filter-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.book-table-filter-modal-contents {
    text-align: left;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    height: max-content;
    width: 500px;
    flex-direction: column;
}

.book-table-filter-modal-header {
    background-color: #f3f3f3;
    border-radius: 3px 3px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 2px 10px;
    font-size: 15px;
}

.book-table-filter-close {
    font-size: 25px;
    cursor: pointer;
}

.book-table-filter-close:hover, .book-table-filter-modal-footer:hover {
    color: rgb(89, 89, 165);
}

.book-table-filter-modal-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 20px 10px 20px;
}

.book-table-filter-modal-actual-content {
    display: flex;
    align-items: center;
    width: 150px;
    margin-bottom: 5px;
}

.book-table-filter-modal-actual-content>input {
    margin-right: 10px;
    cursor: pointer;
}

.book-table-filter-modal-footer {
    cursor: pointer;
    padding: 0 0 10px 10px;
    font-weight: 200;
}