.history-dashboard {
    background-color: #f3f3f3;
    min-height: max-content;
    min-width: 920px;
    padding: 30px;
}

.history-dashboard-heading {
    font-size: xx-large;
}

.history-dashboard-subheading {
    font-size: 18px;
}

.history-dashboard-email {
    font-size: 15px;
    color: grey;
}

.history-dashboard-container {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.history-dashboard-options {
    padding: 0 50px 0 0;
}

.history-dashboard-option {
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    color: rgb(83, 83, 255);
    width: max-content;
    cursor: pointer;
    font-size: 17px;
}

.history-dashboard-option:hover, .history-profile-logout-button:hover {
    background-color: rgb(239, 239, 252);
}

.history-dashboard-option-active {
    background-color: rgb(239, 239, 252);
}

.history-dashboard-suboptions-container {
    padding: 0 0 0 10px;
}

.history-dashboard-suboptions-container div {
    color: rgb(83, 83, 255);
    cursor: pointer;
    font-size: 14px;
    padding: 2px 0px 2px 5px;
    border-radius: 0px;
    margin: 3px 0 0 15px;
    border-left: 3px solid white;
}

.history-dashboard-suboptions-pending:hover {
    border-left: 3px solid #ffcc00;
}

.history-dashboard-suboptions-confirmed:hover {
    border-left: 3px solid #00cc00;
}

.history-dashboard-suboptions-cancelled:hover {
    border-left: 3px solid #cc0000;
}

.history-dashboard-suboptions-fulfilled:hover {
    border-left: 3px solid #0066cc;
}

.history-dashboard-suboptions-unattended:hover {
    border-left: 3px solid #cccccc;
}

.history-dashboard-content {
    border-left: 1px solid #f3f3f3;
    padding-left: 45px;
    flex-grow: 1;
}

.history-dashboard-content p {
    font-size: 22px;
}

.history-profile-container, .history-profile-info-container, .history-bookings-container {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

.history-profile-info-container {
    padding-bottom: 0;
}

.history-profile-container, .history-bookings-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-profile-image-plus-info, .history-bookings-details div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-bookings-details div {
    flex-direction: column;
}

.history-bookings-not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #c7c0c0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #959393;
}

.profile-image-icon {
    margin-top: 35px;
    cursor: pointer;
}

.profile-information {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.profile-image-input {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 300px;
}

.profile-image-cross {
    font-size: 20px;
    cursor: pointer;
}

.history-profile-logout-button, .history-profile-logout-button-disabled {
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.history-profile-logout-icon {
    color: grey;
    font-size: 20px;
}

.history-profile-information {
    margin-top: 20px;
    display: flex;
    gap: 200px;
}

.history-profile-statistics {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.history-profile-statistics div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history-information-heading {
    font-size: 14px !important;
    color: grey;
}

.history-information-subheading {
    font-size: 18px !important;
    margin: 8px 0 30px 0;
}

.history-bookings-subheading {
    font-size: 15.5px !important;
    margin-top: 8px;
    text-transform: capitalize;
}

.history-bookings-container {
    gap: 5%;
    padding-left: 0;
}

.history-bookings-details {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

/* Mobile Responsiveness */

@media screen and (min-width: 320px) and (max-width: 425px) {
    .history-dashboard-container {
        padding: 20px;
    }

    .history-dashboard-options {
        padding: 0 10px 0 0;
    }

    .history-dashboard-content {
        padding-left: 20px;
    }

    .history-bookings-details {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

/* Tablet Responsiveness */

@media screen and (min-width: 426px) and (max-width: 1023px) {
    .history-dashboard {
        min-width: 1280px;
    }

    .history-dashboard-options {
        padding: 0 20px 0 0;
    }

    .history-dashboard-content {
        padding-left: 40px;
    }
}

/* Laptop Responsiveness */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .history-dashboard {
        min-width: 1280px;
    }
}