.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 13px 13px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.subItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
}

.icon {
    font-size: 30px;
}

.editIcon {
    font-size: 40px;
    cursor: pointer;
    color: black;
}

.editIcon :hover {
    color: red;
}

.content {
    padding: 5px 5px 12px 12px;
    font-size: 20px;
}

.resContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.resItems {
    display: flex;
    flex-flow: row;
    width: 800px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resItems1 {
    display: flex;
    flex-flow: row;
    width: 600px;
    justify-content: space-between;
}