.rating-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 16px 14px 35px 3px;
}

.rating-stat {
    display: flex;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 330px;
    justify-content: center;
}

.star-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #8d8b8b;
}

.fill {
    width: 150px;
    background-color: rgb(227, 222, 222);
    margin: 0px 10px 0px 10px
}

.stats {
    height: max-content;
    margin-right: 25px;
    display: flex;
    flex-flow: column;
    align-items: center;
    font-weight: bold;
}

.average-rating {
    width: max-content;
    color: white;
    padding: 12px;
    font-size: 22px;
    border-radius: 5px;
}

.num-ratings {
    margin-top: 20px;
    color: rgb(48, 46, 46);
}

.num-reviews {
    margin-top: 10px;
    color: rgb(173, 171, 171);
}

.star-stat {
    font-size: 16px;
    font-weight: bolder;
}

.star {
    font-size: 16px;
    color: rgb(227, 222, 222);
}

.bar {
    height: 3px;
    margin-right: 5px;
}

.count {
    font-weight: bolder;
}

.star-bar:nth-child(5) .bar {
    background-color: #e74c3c;
}

.star-bar:nth-child(4) .bar {
    background-color: #e67e22;
}

.star-bar:nth-child(3) .bar {
    background-color: #f39c12;
}

.star-bar:nth-child(2) .bar {
    background-color: #b3ca42;
}

.star-bar:nth-child(1) .bar {
    background-color: #79b63a;
}

.reviews-container {
    display: flex;
    margin: 16px 14px 14px 3px;
    border-bottom: 1px solid #ddd;
}

.profile-logo-main {
    height: 50px;
    width: 50px;
    color: rgb(227, 222, 222);
}

.profile-logo {
    height: max-content;
    margin-right: 15px;
}

.reviews-container-profile-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info h3 {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.profile-info h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #67ba2a;
}

.profile-info h5 {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.profile-info p {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 100;
}

.rating-input {
    display: flex;
    flex-flow: column;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 80px;
}

.rating-stars {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.rating-star {
    border-radius: 2px;
    border: 2px solid #ececec;
    padding: 3px 5px 3px 5px;
    font-size: 25px;
    margin-right: 3px;
    color: rgba(121, 119, 121, 0.8);
    cursor: pointer;
}

.rating-star:hover {
    border: 2px solid #2b98f7;
}

.rating-items {
    font-size: 17px;
    font-weight: bolder;
}

.rating-overlay-star {
    padding: 3px 5px 3px 5px;
    font-size: 25px;
    margin-right: 3px;
    color: rgba(121, 119, 121, 0.8);
    cursor: pointer;
}

.reviews-input-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex-flow: column;
}

.reviews-input-container-info {
    max-width: 376px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-flow: column;
}

.reviews-input-container-item-1 {
    display: flex;
    flex-flow: column;
    background-color: #f4f4f4;
    border-radius: 5px 5px 0px 0px;
    padding: 30px 0px 25px 0px;
    align-items: center;
}

.reviews-input-container-stars {
    display: flex;
    margin-bottom: 5px;
}

.reviews-input-container-adj {
    color: #636363;
    font-size: 18px;
    font-weight: bold;
}

.reviews-input-container-item-2 {
    color: #636363;
    display: flex;
    flex-flow: column;
    border-radius: 3px 3px 0px 0px;
    padding: 30px 0px 25px 0px;
    align-items: center;
    border-bottom: 2px solid #e7e4e4;

}

.reviews-input-container-flex {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.reviews-input-container-head {
    margin: 0 0 20px;
}

.reviews-input-container-flex>li {
    font-size: 15px;
    padding: 6px 12px;
    margin: 0 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #636363;
    border-radius: 3px;
    cursor: pointer;
}

.reviews-input-container-flex>li.selected {
    background-color: #2b98f7;
    color: #fff;
    border: 1px solid #2b98f7;
}

.reviews-input-container-item-3 {
    display: flex;
    flex-flow: column;
    padding: 20px 0 0 25px;
    margin: 0;
}

.reviews-input-container-item-3>input, .reviews-input-container-item-3>textarea {
    border: none;
    outline: none;
}

.reviews-input-container-item-4 {
    display: flex;
    background-color: #2b98f7;
    color: white;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    padding: 12px 0 12px 0;
}

.profile-logo-cancel {
    display: flex;
    margin-top: 10px;
    background-color: #a0a0a0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    line-height: 39px;
}

.reviews-posted-on{
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 100;
}

.see-more-reviews{
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #006edc;
}

.see-more-reviews > span{
    float: inline-end;
}