.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.form-group {
  margin: 20px 0px 20px 0px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.subLogin, .close {
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.subLogin {
  margin-right: 30px;
}

.subLogin:hover {
  background-color: #45a049 !important;
}

.show-overlay {
  display: flex;
}

.signup-model-overlay {
  flex-direction: column;
}

.signup-model {
  background-color: white;
  padding: 30px 30px 30px 60px;
  border-radius: 0px !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.sign-up-form input {
  width: 280px !important;
  padding: 15px !important;
  font-size: 16px;
  border: none !important;
  border-radius: 0px !important;
  box-sizing: border-box;
  outline: none;
  background-color: #f3f3f3;
}

.login-form-button {
  width: 280px;
  padding: 10px !important;
  font-size: 20px;
  font-weight: bolder;
  border: none !important;
  border-radius: 0px !important;
}

.signup-sign {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.signup-sign span {
  cursor: pointer;
  color: rgb(96, 96, 213);
}

.signup-close-icon {
  padding: 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 20px;
  background-color: #ccc;
  font-size: 30px;
  color: #484747;
}

.signup-error-message {
  margin-bottom: 10px;
  font-size: 14px;
  color: red;
}

.password-hide-user {
  position: absolute;
  margin: 14px 0 0 250px;
  cursor: pointer;
  font-size: 20px;
  color: #7a7878;
}