* {
  margin: 0;
  padding: 0;
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainColor, h2 {
  color: #FF5757 !important;
}

.hover-not-allowed {
  cursor: not-allowed;
}

.Heading {
  font-size: 30px;
  color: #FF5757;
  font-weight: 700;
}

.Heading::after {
  content: "";
  display: block;
  width: 50px;
  padding: 0.5rem 0 0 0;
  border-bottom: 3px solid #FF5757;
}

.button, .loginButton {
  background-color: #FF5757 !important;
  cursor: pointer;
}

.button:hover, .loginButton:hover {
  background-color: #fc0404 !important;
}

header {
  display: block;
  border: none;
}

/* .flex {
  display: flex;
  justify-content: center;
} */

.flex-item {
  align-items: center;
  margin: auto;
}