* {
  margin: 0;
  padding: 0;
  font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mainColor, h2 {
  color: #FF5757 !important;
}

.hover-not-allowed {
  cursor: not-allowed;
}

.subHeading {
  color: #FF5757;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.2;
}

.subHeading::after {
  content: "";
  display: block;
  width: 25px;
  padding: 0.5rem 0 0 0;
  border-bottom: 2px solid #FF5757;
}

.Heading {
  font-size: 30px;
  color: #FF5757;
  font-weight: 700;
}

.Heading::after {
  content: "";
  display: block;
  width: 50px;
  padding: 0.5rem 0 0 0;
  border-bottom: 3px solid #FF5757;
}

.button, .loginButton {
  background-color: #FF5757 !important;
  cursor: pointer;
}

.button:hover, .loginButton:hover {
  background-color: #fc0404 !important;
}

header {
  display: block;
  border: none;
}

/* .flex {
  display: flex;
  justify-content: center;
} */

.flex-item {
  align-items: center;
  margin: auto;
}

/* .logo img {
  height: 55px;
  width: 261px;
} */

.write-us {
  color: black;
}

.footerTop {
  padding: 45px 370px 50px 370px;
  border-bottom: 2px solid #f3f3f3;
  min-width: 780px;
}

.footerMid {
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  padding: 45px 370px 50px 370px;
  min-width: 780px;
}

.dynamicMid {
  width: 233px;
}

.cities {
  display: flex;
  list-style: none;
  flex-flow: row;
  flex-wrap: wrap;
}

.cities li {
  width: 20%;
  padding: 0.8rem 0 0 0;
}

.dynamicMidComponent {
  display: flex;
  list-style: none;
  flex-flow: column;
  flex-wrap: wrap;
  /* padding: 0.8rem 0 0 0; */
}

.dynamicMidComponent li {
  width: 100%;
  padding: 0.8rem 0 0 0;
}

.footer a:hover {
  color: black;
}

.footerBottom {
  padding: 45px 370px 50px 370px;
  flex-flow: column;
  min-width: 780px;
}

.footerBottom p {
  color: #666;
  font-size: 14px;
  line-height: 32px;
}

/* Mobile Responsiveness */

@media screen and (min-width: 320px) and (max-width: 425px) {
  .links {
    gap: 12%;
  }

  .bestOffers {
    padding: 45px 0 50px 100px;
  }

  .restaurantSearch {
    width: 630px;
  }

  .restaurantNearby {
    padding: 45px 100px 50px 100px;
  }

  .restaurant {
    width: 247px !important;
  }

  .restaurantImg img {
    width: 0px !important;
    min-width: 241px !important;
  }

  .footerTop, .footerMid, .footerBottom {
    padding: 45px 100px 50px 100px;
  }

  .logo img {
    width: 252px;
    height: 57px;
  }
}

/* Tablet Responsiveness */

@media screen and (min-width: 426px) and (max-width: 1023px) {
  .navBar {
    min-width: 1340px;
  }

  .links {
    gap: 25%;
  }

  .searchBanner {
    min-width: 1340px;
  }

  .bestOffers {
    padding: 45px 0 50px 125px;
    min-width: 1215px;
  }

  .restaurantNearby {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
    max-width: 1141px;
  }

  .footerTop {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
  }

  .footerMid {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
  }

  .footerBottom {
    padding: 45px 0 50px 0;
    min-width: 1340px;
  }
}

/* Laptop Responsiveness */

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navBar {
    min-width: 1340px;
  }

  .links {
    gap: 25%;
  }

  .searchBanner {
    min-width: 1340px;
  }

  .bestOffers {
    padding: 45px 0 50px 125px;
    min-width: 1215px;
  }

  .restaurantNearby {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
    max-width: 1141px;
  }

  .footerTop {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
  }

  .footerMid {
    padding: 45px 0 50px 125px;
    min-width: 1140px;
  }

  .footerBottom {
    padding: 45px 0 50px 0;
    min-width: 1340px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {
  .bestOffers {
    padding: 45px 0 50px 175px;
  }

  .restaurantNearby {
    padding: 45px 0 50px 175px;
    min-width: 1140px;
    max-width: 1141px;
  }

  .footerTop {
    padding: 45px 0 50px 175px;
    max-width: 1165px;
  }

  .footerMid {
    padding: 45px 0 50px 175px;
  }

  .footerBottom {
    padding: 45px 0 50px 0;
    min-width: 1340px;
  }
}

/*Above Laptop Responsiveness */

@media screen and (min-width: 1441px) {
  .restaurantNearby {
    width: 1170px;
  }
}