@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

.slick-prev, .slick-next {
    width: 25px !important;
    height: 28px !important;
    background: #FF5757 !important;
    border-radius: 50% !important;
}

.slick-prev {
    /* margin-left: 24px !important; */
    z-index: 1;
    left: 10px !important;
}

.slick-next {
    right: 18px !important;
}

.slick-initialized {
    margin-right: 34px !important;
}

.slick-prev:before, .slick-next:before {
    font-family: monospace !important;
    font-size: 28px !important;
    color: #faf6f6 !important;
}

.subHeading {
    color: #FF5757;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
}

.subHeading::after {
    content: "";
    display: block;
    width: 25px;
    padding: 0.5rem 0 0 0;
    border-bottom: 2px solid #FF5757;
}

.footer a {
    color: #5c5757;
}

.footer a:hover {
    color: #FF5757;
}

.locations::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: -66px;
    top: 4px;
    box-shadow: 13px -21px 1px -16px #fff;
}

.locations::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 86px;
    top: 4px;
    box-shadow: -13px -21px 1px -16px #fff;
}

.star-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #8d8b8b;
}

.bar {
    height: 3px;
    margin-right: 5px;
}

.star-bar:nth-child(5) .bar {
    background-color: #e74c3c;
}

.star-bar:nth-child(4) .bar {
    background-color: #e67e22;
}

.star-bar:nth-child(3) .bar {
    background-color: #f39c12;
}

.star-bar:nth-child(2) .bar {
    background-color: #b3ca42;
}

.star-bar:nth-child(1) .bar {
    background-color: #79b63a;
}

.thumbs-wrapper {
    position: absolute !important;
    bottom: 1px !important;
}

.control-dots {
    display: none !important;
}

.slide img {
    border-radius: 5px 5px 0px 0px !important;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.thumb .carousel-image {
    position: relative;
}

.carousel .thumb {
    width: 80px;
    height: 50px;
}

.thumbs-wrapper .thumbs {
    max-width: 300px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.thumbs-wrapper .thumbs::-webkit-scrollbar {
    display: none;
}

.decrease-height {
    height: 48px;
    width: 250px;
}

.react-calendar {
    line-height: 0.2em !important;
    border-radius: 5px;
    border: none !important;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
}

.react-calendar__navigation {
    height: 30px !important;
    margin-bottom: 0.5em !important;
}

.react-calendar__tile--active {
    background: #2b98f7 !important;
}