@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

.slick-prev, .slick-next {
    width: 25px !important;
    height: 28px !important;
    background: #FF5757 !important;
    border-radius: 50% !important;
}

.slick-prev {
    /* margin-left: 24px !important; */
    z-index: 1;
    left: 10px !important;
}

.slick-next {
    right: 18px !important;
}

.slick-initialized {
    margin-right: 34px !important;
}

.slick-prev:before, .slick-next:before {
    font-family: monospace !important;
    font-size: 28px !important;
    color: #faf6f6 !important;
}

.subHeading {
    color: #FF5757;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
}

.subHeading::after {
    content: "";
    display: block;
    width: 25px;
    padding: 0.5rem 0 0 0;
    border-bottom: 2px solid #FF5757;
}

.footer a{
    color: #5c5757;
}

.footer a:hover {
    color: #FF5757;
  }